.profile {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 74px 0 0;
}

.profile__title {
  color: #FFF;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
  padding-bottom: 107px;
}

.profile__form {
  width: 410px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile__container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px solid #424242;
  padding: 14px 0;
}

.profile__container:last-of-type {
  border: 0;
}

.profile__input {
  width: 100%;
  height: 16px;
  background: #202020;
  border: 0;
  color: #FFF;
  text-align: right;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.profile__input::placeholder {
  color: #FFF;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.profile__input-label {
  width: 141px;
  color: #FFF;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.profile__button-submit {
  color: #FFF;
  background: #202020;
  border: 0;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 204px 0 16px;
  padding: 0;
  transition: opacity 0.5s linear;
}

.profile__button-submit:hover {
  opacity: 0.8;
}

.profile__button-exit {
  color: #EE3465;
  background: #202020;
  border: 0;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: opacity 0.5s linear;
}

.profile__button-exit:hover {
  opacity: 0.8;
}

.profile__button-save {
  height: 45px;
  border-radius: 3px;
  border: 0;
  background: #4285F4;
  color: #FFF;
  margin-top: 207px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: opacity 0.5s linear;
}

.profile__button-save:hover {
  opacity: 0.8;
}

@media screen and (max-width: 783px) {
  .profile {
    padding: 236px 0 269px;
  }
}

@media screen and (max-width: 783px) {
  .profile__title {
    padding-bottom: 80px;
  }
}

@media screen and (max-width: 783px) {
  .profile__button-submit {
    margin-top: 194px;
  }
}

@media screen and (max-width: 440px) {
  .profile {
    padding-top: 70px;
  }
}

@media screen and (max-width: 440px) {
  .profile__title {
    padding-bottom: 64px;
  }
}

@media screen and (max-width: 440px) {
  .profile__button-submit {
    margin-top: 363px;
  }
}

@media screen and (max-width: 440px) {
  .profile__form {
    width: 260px;
  }
}

@media screen and (max-width: 440px) {
  .profile__button-submit {
    font-size: 12px;
  }
}

@media screen and (max-width: 440px) {
  .profile__button-exit {
    font-size: 12px;
  }
}