.promo {
  width: 1280px;
  height: 524px;
  background-color: #073042;
  position: relative;
  display: flex;
  justify-content: center;
}

.promo__landing {
  width: 320px;
  height: 320px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.promo__title {
  width: 730px;
  height: 116px;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  position: absolute;
  text-align: center;
  letter-spacing: -2px;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

.promo__list {
  width: 1280px;
  height: 66px;
  background: #272727;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.promo__list-item {
  color: #FFF;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  text-decoration: underline;
}