.promo {
  max-width: 1280px;
  height: 524px;
  background-color: #073042;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.promo__landing {
  width: 320px;
  height: 320px;
  margin: auto;
  position: absolute;
  top: 82px;
  /* left: 50%; */
  /* top: 50%;
  left: 50%; */
  /* margin-right: -50%;
  transform: translate(-50%, 0); */
}

.promo__title {
  width: 730px;
  height: 116px;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  position: absolute;
  text-align: center;
  letter-spacing: -2px;
  top: 184px;
  /* top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%); */
  margin: 0;
}