.promo {
  max-width: 1280px;
  /* height: 524px; */
  background-color: #073042;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-top: 184px;
  padding-bottom: 224px; */
}

.promo__image {
  width: 320px;
  height: 320px;
  margin: auto;
  position: absolute;
  top: 82px;
  left: 50%;
  /* top: 50%;
  left: 50%; */
  /* margin-right: -50%; */
  transform: translate(-50%, 0);
}

.promo__title {
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  width: 730px;
  /* position: absolute; */
  text-align: center;
  letter-spacing: -2px;
  padding-top: 184px;
  padding-bottom: 224px;
  /* top: 184px;
  bottom: 224px; */
  /* top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%); */
  margin: 0;
}

@media screen and (max-width: 783px) {
  .promo {
    height: 784px;
  }
}

@media screen and (max-width: 783px) {
  .promo__image {
    top: 224px;
  }
}

@media screen and (max-width: 783px) {
  .promo__title {
    /* top: 326px; */
    padding-top: 326px;
    padding-bottom: 342px;
  }
}

/* @media screen and (max-width: 783px) {
  .promo {
    height: 570px;
  }
} */

/* @media screen and (max-width: 515px) {
  .promo__title {
    font-size: 31px;
    line-height: 39px;
    letter-spacing: -1.24px;
  }
}

@media screen and (max-width: 515px) {
  .promo__image {
    width: 248px;
    height: 248px;
    top: 142px;
  }
} */