.root {
  background: #202020;
  min-height: 100vh;
  min-width: 1280px;
}

.page {
  max-width: 1280px;
  font-family: "Inter", sans-serif;
  background: #202020;
  color: #ffffff;
  margin: auto;
  position: relative;
  z-index: 0;
  /* padding: 0 70px; */
}

html {
  scroll-behavior: smooth;
}
